.intro-banner img {
  width: 100vw;
  height: 250px; /* adjust as needed */
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  padding-top: 40px;
  min-height: 90vh;
}



.Typist {
  color: var(--black );
  text-align: center;
  font-size: 76px;
  margin-top: -30px;
}
.Typist .Cursor--blinking {
  color: var(--black);
  padding-left: 4px;
}

.intro-title {
  font-family: "Regards Regular", sans-serif;
  color: var(--black);
  font-weight: bold;
  font-size: 86px;
}

.intro-subtitle {
  margin-top: 36px;
  font-family: "Regards Regular", sans-serif;
  color: var(--black);
  text-align: center;
  font-weight: 300;
  font-size: 48px;
}



@media only screen and (max-width: 600px) {
  #intro {
    min-height: unset;
    padding-left: unset;
    padding-top: unset;
    margin: 0;
    align-items: center;
  }

  .intro-title {
    font-size: 46px;
  }
  

  .Typist {
    font-size: 36px;
  }

  .intro-subtitle {
    margin: 0;
    font-size: 28px;
  }

}