

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Homemade+Apple&display=swap');
body {
  background-color: #f0f0f0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('/Users/dikamanne/dika_room/src/images/newerBkg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.IntroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  font-size: 80px;
  color: rgb(31, 31, 31);

}
.hiddenList {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hiddenList.show {
  opacity: 1;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 10px; /* Adjust the margin to move the links a bit lower */
}

li {
  margin-right: 20px;
}


a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 24px; /* Adjust the font size to make it bigger */
}

a:hover {
  color: #004d99;
}

